body {
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aliceblue;
    text-align: center;
}

* {
    
    padding: 0;
    margin: 0;
}

.notasHeader, .notasBody, .notasFooter {

    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0;
  }

.notasHeader {

    font-family: 'Kalam', cursive;
  }

.notasBody {

    margin-top: 20px;
}

.notasFooter {

    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
}
